<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".SmartCurrencyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher_modern"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_modern"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        
        <!-- Main activity (disabled by default, enabled via alias) -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:enabled="true"
            android:label="@string/app_name"
            android:supportsPictureInPicture="true"
            android:theme="@style/Theme.MyApplication"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Alias 1: Default icon -->
        <activity-alias
            android:name=".MainActivityIconDefault"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_launcher_modern"
            android:roundIcon="@drawable/ic_launcher_modern"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- Alias 2: Dark icon variant -->
        <activity-alias
            android:name=".MainActivityIconDark"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_launcher_dark"
            android:roundIcon="@drawable/ic_launcher_dark"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- Alias 3: Minimal icon variant -->
        <activity-alias
            android:name=".MainActivityIconMinimal"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_launcher_minimal"
            android:roundIcon="@drawable/ic_launcher_minimal"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

    </application>

</manifest>
